# Logs
LOG_LEVEL=debug
LOG_DIRECTORY=logs

# Web server
HTTPS=false
SSL_CERT_PRIVATE_KEY_PATH=./privkey.pem
SSL_CERT_CERTIFICATE_PATH=./fullchain.pem
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=3000

# FMP
FMP_KEY=
