# Logs
LOG_LEVEL=debug
LOG_DIRECTORY=logs

# Web server
HTTPS=false
SSL_CERT_PRIVATE_KEY_PATH=./privkey.pem
SSL_CERT_CERTIFICATE_PATH=./fullchain.pem
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=3000

# Limiter
WINDOW_TIME=60000
MAX_REQUESTS=60

# Prices
DEFAULT_AB_PRECISION=20
DEFAULT_CONF_PRECISION=20
DEFAULT_MAX_TIMESTAMP_DIFF=20
MAX_AB_PRECISION=20
MAX_CONF_PRECISION=20
MAX_MAX_TIMESTAMP_DIFF=604800000

# FMP
FMP_KEY=

# ALPACA
ALPACA_KEY=
ALPACA_SECRET=
